<div class="container">
    <div class="sidebar">
        SIDEBAR
    </div>
    <header class="header">
        HEADER
    </header>
    <div class="realtors">
        TOP THREE REALTORS
    </div>
    <section class="features">
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/sprite.svg#icon-sphere"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">
                Worlds best luxury homes
            </h4>
            <p class="feature__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maiores eligendi rem? Placeat distinctio numquam minus, molestiae 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/sprite.svg#icon-trophy"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">
                Only the best properties
            </h4>
            <p class="feature__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maiores eligendi rem? 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">
                All homes in top locations
            </h4>
            <p class="feature__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maiores eligendi rem? Placeat distinctio numquam minus, molestiae reprehenderit 
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/sprite.svg#icon-key2"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">
                New home in one week
            </h4>
            <p class="feature__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maiores eligendi rem? Placeat distinctio numquam minus
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/sprite.svg#icon-stats-bars2"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">
                Top 1% realtors
            </h4>
            <p class="feature__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maiores eligendi rem? Placeat distinctio numquam minus, molestiae .
            </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">
                Secure payments on Nexter
            </h4>
            <p class="feature__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maiores eligendi rem? Placeat distinctio numquam minus, molestiae reprehenderit 
            </p>
        </div>
    </section>
    <div class="story__pictures">
        <img src="../assets/story-1.jpeg" alt="Couple with new house" class="story__img--1">
        <img src="../assets/story-2.jpeg" alt="new house" class="story__img--2">
    </div>
    <div class="story__content">
        <h3 class="heading-3 mb-sm">
            Happy Customers
        </h3>
        <h2 class="heading-2 heading-2--dark mb-md">
            &ldquo;The best decision of our lives&rdquo;
        </h2>
        <p class="story__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsa autem eligendi dicta doloremque eius sit veritatis.
        </p>
        <button class="btn">Find your own home</button>
    </div>
    <section class="homes">
        <div class="home">
            <img src="../assets/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>$1,200 000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        
        <div class="home">
            <img src="../assets/house-2.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h5 class="home__name">Modern Glass Villa</h5>
            <div class="home__location">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>Canada</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>6 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>450 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>$2,200 000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="../assets/house-3.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h5 class="home__name">Cosy Country House</h5>
            <div class="home__location">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>UK</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>4 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>250 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>$800 000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="../assets/house-4.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h5 class="home__name">Large Rustical Villa</h5>
            <div class="home__location">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>Portugal</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>6 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>480 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>$1,200 000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="../assets/house-5.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h5 class="home__name">Majestic Palace House</h5>
            <div class="home__location">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>Germany</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>18 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>$1,200 000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="../assets/house-6.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-lock"></use>
            </svg>
            <h5 class="home__name">Modern Family Apartment</h5>
            <div class="home__location">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>Italy</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                <use xlink:href="../assets/sprite.svg#icon-location2"></use>
            </svg>
            <p>$1,200 000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
    </section>
    <section class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="../assets/gal-1.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="../assets/gal-2.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="../assets/gal-3.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="../assets/gal-4.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="../assets/gal-5.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="../assets/gal-6.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--7">
            <img src="../assets/gal-7.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--8">
            <img src="../assets/gal-8.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--9">
            <img src="../assets/gal-9.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--10">
            <img src="../assets/gal-10.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--11">
            <img src="../assets/gal-11.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--12">
            <img src="../assets/gal-12.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--13">
            <img src="../assets/gal-13.jpeg" alt="" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--14">
            <img src="../assets/gal-14.jpeg" alt="" class="gallery__img">
        </figure>
    </section>
    <footer class="footer">
        FOOTER
    </footer>
</div>